body{
    font-size: 16px;
}
h1 {
    
    text-align: center;color:#F37420
}
#sub_by{
    float:right;
}
h2{
    color:#F77420
}
p{
    color:#1E1762;font-size:16px
}
#pagi{
    float:right
}
#utility{
    float:right;
    
}
nav{
    list-style:none;text-align: center;color:#0E074E
}
nav li a:hover{
    text-decoration:none;
    color:#F37420    
} 
